{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} Customer Filter {% endblock %}{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!<br />
    Here is a list of the customers with a pickup on that day of the week<br />
    <ul style="list-style: none;">
        {% for item in employee_customer %}
        <li>{{ item.name }} - {{item.address}} </li>
        {% endfor %}
    </ul>

    <a class="btn btn-success btn-sm" href="{% url 'employees:index' %}">Click here to return to your home page</a>
    
  {% else %}
   
  {% endif %}
{% endblock %}