
{% extends 'employees\employee_base.html' %}


{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
  <h1 class="red">Hello Employee {{ user.username }}!</h1><br />
    Here is a list of your customers.<br />
    <ul style="list-style: none;">
      {% for item in todays_customers %}
      <li>{{ item.name }} - {{item.address}} <a class="btn btn-success btn-sm" href="{%url 'employees:confirm_pickup' item.id %}" method = "post" role="button">Confirm Pickup</a> </li>
      {% endfor %}
    </ul>

    <div class="dropdown">
      <button class="dropbtn">Customers By Day</button>
      <div class="dropdown-content">
        <a href="#">Monday</a>
        <a href="#">Tuesday</a>
        <a href="#">Wednesday</a>
        <a href="#">Thursday</a>
        <a href="#">Friday</a>
        <a href="#">Saturday</a>
        <a href="#">Sunday</a>
      </div>
    </div>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}


<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-primary">Primary</button>

<a class="btn btn-primary" href="#" role="button">Link</a>