
{% extends 'employees\employee_base.html' %}


{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}


{% block content %}
  {% if user.is_authenticated %}
  <h1 class="red">Hello Employee {{ user.username }}!</h1><br />
    Here is a list of your customers.<br />
    <ul style="list-style: none;">
      {% for item in todays_customers %}
      <li>{{ item.name }} - {{item.address}} <a class="btn btn-success btn-sm" href="{%url 'employees:confirm_pickup' item.id %}" method = "post" role="button">Confirm Pickup</a> </li>
      {% endfor %}
    </ul>

  
        <a href="{% url 'employees:dropdown' 'Monday' %}">Monday</a>
        <a href="{% url 'employees:dropdown' 'Tuesday' %}">Tuesday</a>
        <a href="{% url 'employees:dropdown' 'Wednesday' %}">Wednesday</a>
        <a href="{% url 'employees:dropdown' 'Thursday' %}">Thursday</a>
        <a href="{% url 'employees:dropdown' 'Friday' %}">Friday</a>
        <a href="{% url 'employees:dropdown' 'Saturday' %}">Saturday</a>
        <a href="{% url 'employees:dropdown' 'Sunday' %}">Sunday</a>
    
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}


<button type="button" class="btn btn-primary btn-sm">Small button</button>
<button type="button" class="btn btn-primary">Primary</button>

<a class="btn btn-primary" href="#" role="button">Link</a>