{% extends 'employees\employee_base.html' %}

{% block title %}{% block header %} Employee's Customers {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    This is your customer page {{ user.username }}!<br />
    <form action="{% url 'employees:day' %}" method="post">
        {% csrf_token %}
        Day of the Week Selection: <input type="text" name="day" id="day"><br />
        <br />
        <br />
        <input type="submit" value="Submit">
    </form>






  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}